<!DOCTYPE html>
<html translate="no">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
        <link rel="canonical" href="https://labyaddons.de/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="labymod, all labymod addons, labyaddons, labyaddons.de, list of all labymod addons, labymod minecraft, labymod optifine 1.8">
        <meta name="description" content="This is a list of all official and inofficial LabyMod Addons.">
        <meta name="author" content="xConnorTV, L3nnart_">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://labyaddons.de/" />
        <meta property="og:title" content="labyaddons.de - The LabyMod Addon List" />
        <meta property="og:image" content="https://i.imgur.com/SDbRq5U.png" />
        <meta name="theme-color" content="#842C19" />
        <link rel="stylesheet" href="/static/css/all.css">
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
        <script src="https://kit.fontawesome.com/bbb45cb41a.js" crossorigin="anonymous"></script>
</html>