<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
	<link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    <div class="container">
        {{{body}}}
    </div>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "72ca3c82401b43418ac14c65fb7fad5e"}'></script><!-- End Cloudflare Web Analytics -->
</html>