@font-face {
    font-family: Minecraft;
    src: url(../fonts/minecraft.woff2) format('woff2');
}
body {
    background-image: url(/static/images/bg.png);
}
* {
    color: white;
    margin: 0;
}
.time{
    margin-top: 17px;
    margin-bottom: 17px;
}
.wrapper-addon{
    margin-top: 50px;
}
.lastfetch, #notFound{
    font-family: Minecraft;
}