#content{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
}
#content h2, #content h3{
    margin-top: 15px;
}
.title{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
@media (max-width: 855px) {
    .title img{
        width: 350px;
    }
    .title{
        margin-top: 85px;
    }
}